body{
    display: flex;
    justify-content: center;
}

.container-cheap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

    max-width: 540px;
    height: 400px;
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    background-color: lightgray;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    max-width: 160px;
    height: 120px;
  }