body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container-cheap {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 540px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    background-color: #4caf50;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
    width: 160px;
    height: 120px;
}

.card:hover {
    transform: scale(1.05);
}

.displayNone {
    display: none;
}

.winMessage {
    margin-top: 20px;
    font-size: 24px;
    color: #4caf50;
    text-align: center;
}

.resetButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.resetButton:hover {
    background-color: #45a049;
}
